:root {
  --black: rgba(0, 0, 0, 0.9);
  --lightgrey: rgba(211, 211, 211, 0.3);
  --link: #007acc;
  --palelink: gba(0, 122, 204, 0.6);
}
:export {
  black: rgba(0, 0, 0, 0.9);
  lightGrey: rgba(211, 211, 211, 0.3);
  link: #007acc;
  paleLink: gba(0, 122, 204, 0.6);
}

/*
wide spacing font with avenir?
https://rsms.me/inter/
https://www.typography.com/fonts/styles/wide $100
https://fonts.adobe.com/fonts/presicav
*/
body {
  margin: 2rem 4rem;
  font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

a {
  color: var(--link);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
